@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap')

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: roboto-serif;
   font-size: 1.2rem;

}
header {
    color: blue;
}

#social-networks {
    padding: 20px 0;
    
}
